@charset "utf-8";
body { margin:0 auto; font-size:12px; font-family:Verdana; line-height:1.5; background:url(../images/bg.gif) 0 100px repeat-x; color:#333;}
/*header*/
#header { width:950px; height:100px; margin:0 auto;z-index:999; background:#fff;}
#logo { float:left; width:670px; padding:15px 0 0 0; }
#logo a{ display:block; background:url(../images/logo.png) 0 0 no-repeat; width:192px;height:72px}
#top_center  { float:left; width:396px; height:32px;  margin-top:12px; position:relative;}
.top_srh_txt { position:absolute; left:2px; top:2px;}
.top_srh_txt input { width:295px; height:25px; +height:23px; line-height:22px; padding:3px 0 0 4px; margin:0; font-family:Verdana; font-size:12px; border:none;}
.top_srh_txt input.tip { }
.top_srh_btn { position:absolute; left:151px;}
.top_srh_btn input { width:94px; height:32px; border:none; margin:0; background:transparent; cursor:pointer;}
.top_srh_tip { width:300px; border:1px solid #999; background:#fff; position:absolute; top:32px; left:0px; display:none;}
.top_srh_tip ul li { padding:3px 5px;}
.top_srh_tip ul li span { padding-left:5px; color:#aaa;}
.top_srh_tip_curr { background:#39f; color:#fff;}
.top_srh_tip ul li.top_srh_tip_curr span { color:#fff;}
#top_right { text-align:right;}
#top_right dl { line-height:2;}
#top_right dl a { color:#666;}
#top_right dl dt { height:24px;}
#top_right{ float:right; width:210px; margin-top:-12px; font-size:24px; color:#f00; font-family:Arial, Helvetica, sans-serif; font-style:normal;}
#top_right ul li { float:left; }
#top_tool { float:right; height:20px; margin-top:6px; position:relative; z-index:999;}
#top_tool a { color:#666;}
#top_tool a:hover { color:#f60; text-decoration:underline;}
#top_tool ul li { float:left;}
#top_tool ul li a { padding:0 6px; border:1px solid #fff; display:block; _padding-top:2px;}
#top_tool ul li a.top_dh { position:relative; right:0; z-index:20000; display:block; float:left; height:20px; _height:10px; border-bottom:none; padding:0 16px 0px 6px; background:#fff url(../images/icon_arrow.gif) 56px 7px no-repeat; _padding-top:2px;} 
#top_tool .hover .top_dh{ border:1px solid #ccc; border-bottom:none; padding:0 16px 0 6px; background:#fff url(../images/icon_arrow.gif) 56px 7px no-repeat; _padding-top:2px;}
#top_tool .hover .top_sm_con{display:block;}
#site-nav .hover .menu-hd b {
    -moz-transform: rotate(180deg);
    -moz-transform-origin: 50% 30%;
    border-color: #666666 #FFFFFF #FFFFFF;
}
.top_sm_con { position:absolute; top:20px; right:0; _right:-1px; width:190px; border:1px solid #ccc; padding:5px 12px; background:#fff; display:none;z-index:4500;}
.top_sm_con h4 { height:20px; padding-top:6px;}
.top_sm_con p { padding:0 0 6px 0; line-height:1.8; border-bottom:1px solid #eee;}
#top_tool ul li .top_sm_con p a { display: display:inline; background:none; padding:0;}
#top_tool ul li .top_sm_con p a { display:inline; background:none; padding:0;}
#nav { width:950px; height:40px; background:#46a107; margin:0px auto 10px auto; z-index:999;}
#nav_main { float:left;}
#nav_main li { float:left;}
#nav_main li a { display:block; text-align:center; line-height:40px; font-size:16px; color:#fff; text-indent:-999em;}
#nav_a1 a { width:70px; height:40px; background:url(../images/nav_bg.gif) 0 0 no-repeat;}
#nav_a1 a:hover { background:url(../images/nav_bg.gif) 0 -40px no-repeat;}
#nav_a11 a { display:block; width:70px; height:40px; background:url(../images/nav_bg.gif) 0 -40px no-repeat;}
#nav_a2 a { width:103px; height:40px; background:url(../images/nav_bg.gif) -70px 0 no-repeat;}
#nav_a2 a:hover { background:url(../images/nav_bg.gif) -70px -40px no-repeat;}
#nav_a21 a { display:block; width:103px; height:40px; background:url(../images/nav_bg.gif) -70px -40px no-repeat;}
#nav_a3 a { width:103px; height:40px; background:url(../images/nav_bg.gif) -173px 0 no-repeat;}
#nav_a3 a:hover { background:url(../images/nav_bg.gif) -173px -40px no-repeat;}
#nav_a31 a { display:block; width:103px; height:40px; background:url(../images/nav_bg.gif) -173px -40px no-repeat;}
#nav_a4 a { width:103px; height:40px; background:url(../images/nav_bg.gif) -272px 0 no-repeat;}
#nav_a4 a:hover { background:url(../images/nav_bg.gif) -272px -40px no-repeat;}
#nav_a41 a { display:block; width:103px; height:40px; background:url(../images/nav_bg.gif) -269px -40px no-repeat;}
#nav_a5 a { width:103px; height:40px; background:url(../images/nav_bg.gif) -279px 0 no-repeat;}
#nav_a5 a:hover { background:url(../images/nav_bg.gif) -279px -40px no-repeat;}
#nav_a51 a { display:block; width:103px; height:40px; background:url(../images/nav_bg.gif) -279px -40px no-repeat;}
#nav_a6 a { width:118px; height:40px; background:url(../images/nav_bg.gif) -381px 0 no-repeat;}
#nav_a6 a:hover { background:url(../images/nav_bg.gif) -381px -40px no-repeat;}
#nav_a61 a { display:block; width:118px; height:40px; background:url(../images/nav_bg.gif) -381px -40px no-repeat;}
#nav_user { float:right; height:24px; margin-top:8px; background:url(../images/nav_user_bg.gif) right 0 no-repeat; line-height:24px; position:relative; padding-right:6px; z-index:999}
#nav_user a { color:#666; text-decoration:none;line-height:24px;}
#nav_user a.right_arrow { padding-right:16px; background:url(../images/icon_arrow.gif) right 10px no-repeat; _background-position: right 3px;}
#nav_user a:hover { color:#080;}
#nav_user_l { float:left; height:24px; background:url(../images/nav_user_bg.gif) 0 0 no-repeat; width:35px;}
#login { float:left; width:70px; background:ccc;}
#u_reg { float:left; background:9F0;}
#account { float:left; width:50px; background:0F0;}
#u_username { float:left; width:156px;}
#loginbox { width:186px; position: absolute; left: 0px; top: 24px; background:#EDF6E7; border:1px solid #46a107; border-top:none; padding:10px 10px 0 10px; text-align:left; background:#fff; border:1px solid #ccc;z-index:4500; display:none;}
#nav_user #loginbox a { color:#05a;}
#nav_user #loginbox a:hover { color:#f00;}
.logon ul li { padding:3px 0;}
.login_text { width:136px; height:20px; padding:0px 0 0 3px; line-height:20px; border-top:1px solid #aaa; border-left:1px solid #aaa; border-right:1px solid #ddd; border-bottom:1px solid #ddd; font-size:14px; font-family:Verdana;}
.login_btn { width:61px; height:25px; border:none; background:url(../images/btn_bg4.gif) 0 0 no-repeat; cursor:pointer;}
.logon .clx { padding-left:40px;}
#nav_user .logon .clx a { padding:0;}
#nav_user_menu { position:absolute; right:0; top: 24px; width:74px; background:#fff; border:1px solid #ccc; text-align:left; display:none;z-index:4500;}
#nav_user_menu ul li { padding-left:8px;}
#nav_user #nav_user_menu a { color:#05a;}
#nav_user #nav_user_menu a:hover { color:#f00;}
.geili { position:absolute; top:-15px; right:705px;}

#ihelp { height:113px; border:1px solid #ccc; background:url(../images/ihelp_bg.gif) 0 0 no-repeat; margin-bottom:10px;}
#ihelp dl { float:left; width:190px; padding:15px 0 0 26px;}
#ihelp dl.w{ width:396px}
#ihelp dl dt { font-weight:bold; margin-bottom:5px; _margin-bottom:7px;}
#ihelp dl dd { padding-left:14px; color:#666; line-height:1.7;}
#ihelp dl dd a { color:#666;}
#ihelp dl dd a:hover { color:#333; text-decoration:underline;}
#icount { padding:8px; border:1px solid #ccc; text-align:center; line-height:150%; margin-bottom:10px;}
#icount span {color:#f60; font-size:14px; font-weight:bold;}

#friendlink { height:18px; overflow:hidden; margin-bottom:10px;}
#friendlink a { color:#999;}
#friendlink span { float:right;}
#footer { padding:8px; text-align:center; border-top:3px solid #c1dda6; color:#666; line-height:2;}
#footer a { color:#666;}
#footer a:hover { text-decoration:underline; color:#333;}

/*login*/
#login #loginbox .logon input.logining { background: url("../images/ajaxloader_arrows.gif") no-repeat scroll center center transparent; cursor: auto;}
#login #loginbox .redborder,#reg_con .redborder{	border:1px solid #BB0000;}
.com_bug { background: none repeat scroll 0 0 #F1F5F8; border: 1px solid #CCCCCC; white-space: nowrap;}	
.com_bug .w { color: #BA0100; padding: 10px; position: relative;}

#token-input-akey { font-size:14px;}

#breadCrumb { height:26px; overflow:hidden; border:1px solid #d9d9d9; margin-bottom:10px;}
#breadCrumb1 { float:left; line-height:2.1; >line-height:2.3;}
#breadCrumb1 a { display:block; float:left; height:26px; padding:0px 18px 0 10px; background:url(../images/breadCrumb_bg.gif) right 0 no-repeat;}
#breadCrumb1 span { display:block; float:left; height:26px; padding:0px 10px 0 10px;}
#breadCrumb2 { float:right; padding:5px 5px 0 0;}

/* Example tokeninput style #2: zn style */
ul.token-input-list-zn {
    overflow: hidden; 
    height: auto !important; 
    height: 1%;width: 300px;
    /*
    border: 1px solid #8496ba;*/
    cursor: text;
    font-size: 12px;
    font-family: Verdana;
    min-height: 1px;
    z-index: 999;
    margin: 0;
    padding: 0;
    background-color: #fff;
    list-style-type: none;
    clear: left;
}

ul.token-input-list-zn li input {
    border: 0;
    background-color: white;
   /*width: 100px;
    margin: 2px 0;
	padding: 3px 8px;*/
    -webkit-appearance: caret;
}

li.token-input-token-zn {
    overflow: hidden; 
    height: auto !important; 
    height: 15px;
    margin: 3px;
    padding: 1px 3px;
    background-color: #eff2f7;
    color: #000;
    cursor: default;
    border: 1px solid #ccd5e4;
    font-size: 11px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    float: left;
    white-space: nowrap;
}

li.token-input-token-zn p {
    display: inline;
    padding: 0;
    margin: 0;
}

li.token-input-token-zn span {
    color: #a6b3cf;
    margin-left: 5px;
    font-weight: bold;
    cursor: pointer;
}

li.token-input-selected-token-zn {
  /*  background-color: #5670a6;
    border: 1px solid #3b5998;*/
	background:#39f;
    color: #fff;
}
li.token-input-selected-token-zn span{ color:#fff;}

li.token-input-input-token-zn {
    float: left;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

div.token-input-dropdown-zn {
    position: absolute;
    width: 301px;
    background-color: #fff;
    overflow: hidden;
	border: 1px solid #ccc;
  /*  border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;*/
    cursor: default;
    font-size: 12px;
    font-family: Verdana;
    z-index: 1;
}

div.token-input-dropdown-zn p {
    margin: 0;
    padding: 4px 5px;
   /* font-weight: bold;*/
    color: #777;
		line-height:1.5;
}

div.token-input-dropdown-zn ul {
    margin: 0;
    padding: 0;
}

div.token-input-dropdown-zn ul li {
	cursor:pointer;
    background-color: #fff;
    /*padding: 3px;*/
	padding:3px 5px;
    margin: 0;
    list-style-type: none;
}
div.token-input-dropdown-zn ul li span { padding-left:5px; color:#aaa;}

div.token-input-dropdown-zn ul li.token-input-dropdown-item-zn {
    background-color: #fff;
}

div.token-input-dropdown-zn ul li.token-input-dropdown-item2-zn {
    background-color: #fff;
}

div.token-input-dropdown-zn ul li em {
    font-weight: bold;
    font-style: normal;
}

div.token-input-dropdown-zn ul li.token-input-selected-dropdown-item-zn {
    background-color: #39f;
    color: #fff;
}