@charset "utf-8";
/* CSS Document */

.a_span{cursor:pointer;color: #195CB5;}
.b{font-weight:bold;}
.info_dp .dp_tab.loading{background: url("../images/loading.gif") no-repeat 465px 5px;}
#page1.loading{background: url("../images/loading.gif") no-repeat;}

#list_srh .loading{background: url("../images/loading.gif") no-repeat 0px 2px;}
/* TipTip CSS - Version 1.2 */

#tiptip_holder {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999;
}

#tiptip_holder.tip_top {
	padding-bottom: 5px;
}

#tiptip_holder.tip_bottom {
	padding-top: 5px;
}

#tiptip_holder.tip_right {
	padding-left: 5px;
}

#tiptip_holder.tip_left {
	padding-right: 5px;
}

#tiptip_content {
	font-size: 11px;
	color: #fff;
	text-shadow: 0 0 2px #000;
	padding: 4px 8px;
	border: 1px solid rgba(255,255,255,0.25);
	background-color: rgb(25,25,25);
	background-color: rgba(25,25,25,0.92);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(#000));
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 0 0 3px #555;
	-webkit-box-shadow: 0 0 3px #555;
	-moz-box-shadow: 0 0 3px #555;
}

#tiptip_arrow, #tiptip_arrow_inner {
	position: absolute;
	border-color: transparent;
	border-style: solid;
	border-width: 6px;
	height: 0;
	width: 0;
}

#tiptip_holder.tip_top #tiptip_arrow {
	border-top-color: #fff;
	border-top-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_bottom #tiptip_arrow {
	border-bottom-color: #fff;
	border-bottom-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_right #tiptip_arrow {
	border-right-color: #fff;
	border-right-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_left #tiptip_arrow {
	border-left-color: #fff;
	border-left-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_top #tiptip_arrow_inner {
	margin-top: -7px;
	margin-left: -6px;
	border-top-color: rgb(25,25,25);
	border-top-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_bottom #tiptip_arrow_inner {
	margin-top: -5px;
	margin-left: -6px;
	border-bottom-color: rgb(25,25,25);
	border-bottom-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_right #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -5px;
	border-right-color: rgb(25,25,25);
	border-right-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_left #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -7px;
	border-left-color: rgb(25,25,25);
	border-left-color: rgba(25,25,25,0.92);
}

/* Webkit Hacks  */
@media screen and (-webkit-min-device-pixel-ratio:0) {	
	#tiptip_content {
		padding: 4px 8px 5px 8px;
		background-color: rgba(45,45,45,0.88);
	}
	#tiptip_holder.tip_bottom #tiptip_arrow_inner { 
		border-bottom-color: rgba(45,45,45,0.88);
	}
	#tiptip_holder.tip_top #tiptip_arrow_inner { 
		border-top-color: rgba(20,20,20,0.92);
	}
}

.qcbox { float:left;}
.qcbox .Container { display:none; }
.qcbox .Wrapper { position:relative; z-index:1; }
.qcbox .Container { position:absolute; z-index:1; top:2px; right:2px; padding-left:4px; height:19px; cursor:pointer; overflow:hidden; }
.qcbox .sinfo { float:left; display:inline; font:normal 12px/19px simsun,arial,sans-serif; _line-height:21px;padding: 0 3px 0 0; }
.qcbox .infotext { color:#ccc; }
.qcbox .sicon { float:left; display:inline; width:20px; height:19px; background:url(../images/icon24.gif) 1px 3px no-repeat; }
.qcbox .textbox { border:0 none; padding:1px 0 2px; width:100%; height:20px; height:18px\9; font:normal 14px/18px simsun,arial,sans-serif; _line-height:20px; background-color:#fff; color:#555; }
.qcbox .popContainer { position:relative; z-index:1000; clear:both; }
.qcbox .popPanel { position:absolute; z-index:1; top:0; left:-1px; border:1px solid #abadb3; background-color:#fff; }
.qcbox .errtext { color:red !important; }
.qdate .sicon {background-position: -25px 3px;}

.sort_price .price-selected {
    background-color: #FFFFFF;
    border: 1px solid #FEAF17;
	padding:2px;
	position:absolute;
}

#list_tools .sort_select:hover ul{display:block;}

/*#list_tools .sort_credit*/




#tuna_address{font-size:12px;font-family:Arial,Simsun}#tuna_address #address_warp{width:220px;border:1px solid #519e1c;background:#FFF;text-align:left;min-height:305px;margin:0;padding:0 0 4px}* html #tuna_address #address_warp{height:305px}#tuna_address #address_message{display:block;line-height:20px;font-family:Simyou;word-wrap:break-word;word-break:break-all;background-color:#519e1c;color:#fff;width:auto;border:none;padding:2px 0 2px 9px}#tuna_address #address_list{min-height:277px;margin:0;padding:0}* html #tuna_address #address_list{height:277px}#tuna_address #address_list span{width:110px;white-space:nowrap;overflow:hidden;float:right;text-align:right;font:normal 10px/22px Arial;margin:0;padding:0}#tuna_address #address_list a{height:22px;border-top:1px solid #FFF;border-bottom:1px solid #FFF;cursor:pointer;line-height:22px;color:#05a;display:block;text-decoration:none;min-height:22px;text-align:left;overflow:hidden;padding:1px 9px 0}* html #tuna_address #address_list a{height:22px}#tuna_address #address_list a:hover{background:#e4ffd3;border-top:1px solid #98ce78;border-bottom:1px solid #98ce78}#tuna_address .address_selected{background:#ffe6a6;color:#FFF;height:22px}#tuna_address .address_pagebreak{display:none;line-height:25px;text-align:center;margin:0;padding:0}#tuna_address .address_pagebreak a{color:#05a;font-family:Arial,Simsun,sans-serif;text-decoration:underline;font-size:14px;margin:0;padding:0 4px}#tuna_address #address_arrowl,#tuna_address #address_arrowr{color:#05a}#tuna_address a.address_current{color:#000;text-decoration:none}



.hidden{display:none;}



.map_searchresult_price {
    background: url("../images/bg_price091211.png") repeat scroll 0 0 transparent;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    height: 33px;
    line-height: 23px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    width: 57px;
}
.map_searchresult_hotels {
    background: url("../images/bg_map_hotels100402.png") repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 50px;
    overflow: hidden;
    position: absolute;
    width: 235px;
}
.map_searchresult_hotels .hotels_name {
    color: #FFFFFF;
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    margin: 3px 10px 0 5px;
    overflow: hidden;
    width: 205px;
}
.map_searchresult_hotels .bom {
    color: #FFFFFF;
    line-height: 18px;
    margin: 0 5px;
}
.map_searchresult_hotels .bom .price {
    float: right;
}
.map_searchresult_hotels .bom dfn {
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
}
.map_searchresult_hotels {
    margin: -17px 0 0 -178px;
}

/*hotelmap用css*/
.map_bar {
    height: 30px;
    position: absolute;
    right: 6px;
    top: 6px;
    z-index: 10;
}
.map_bar_list li {
    background: url("../images/map_hotel.png") no-repeat scroll right -60px transparent;
    float: left;
    height: 27px;
    line-height: 27px;
    margin-right: 2px;
    overflow: hidden;
    padding-right: 10px;
}
.map_bar_list li div {
    background: url("../images/map_hotel.png") no-repeat scroll left 0 transparent;
    float: left;
    height: 27px;
    overflow: hidden;
    padding: 0 10px;
}
.map_bar_list li.current {
    background: url("../images/map_hotel.png") no-repeat scroll right -90px transparent;
}
.map_bar_list li.current div {
    background: url("../images/map_hotel.png") no-repeat scroll left -30px transparent;
}
.map_bar_list li span {
    cursor: pointer;
    display: block;
    padding-left: 20px;
}
.map_bar_list li .base_label {
}
.map_bar_list li .input1 {
    background: url("../images/map_hotel.png") repeat scroll 0 -221px transparent;
}
.map_bar_list li .input1_hover {
    background: url("../images/map_hotel.png") repeat scroll 0 -252px transparent;
}
.map_bar_list li .searchbtn2 {
    background: url("../images/map_hotel.png") repeat scroll left -125px transparent;
}
.map_bar_list li .searchbtn3 {
    background: url("../images/map_hotel.png") repeat scroll -97px -128px transparent;
    padding-left: 20px;
}
.map_bar_list li .searchbtn4 {
    background: url("../images/map_hotel.png") no-repeat scroll -285px -126px transparent;
}
.map_bar_list li .searchbtn5 {
    background: url("../images/map_hotel.png") no-repeat scroll left -155px transparent;
}
.map_bar_list li .searchbtn6 {
    background: url("../images/map_hotel.png") no-repeat scroll -202px -128px transparent;
}
.map_tip {
    background: url("../images/map_hotel.png") no-repeat scroll -147px -159px #FBFADE;
    border: 1px solid #FDB147;
    height: 21px;
    left: 80px;
    line-height: 21px;
    overflow: hidden;
    padding: 0 10px 0 30px;
    position: absolute;
    top: 6px;
    z-index: 10;
}
.hotel_unit {
    padding: 10px 0 10px 10px;
}
.searchresult_desc {
    margin: 6px 0 0;
    position: relative;
    z-index: 11;
}
.searchresult_desc_text {
    height: 38px;
    overflow: hidden;
}
.searchresult_desc p {
    margin-bottom: 4px;
    padding-right: 10px;
}
.layoutfix {
    display: inline-block;
}
.layoutfix {
    display: block;
    overflow: hidden;
}
.hotel_grid01 .first {
    float: left;
    padding-right: 20px;
    width: 101px;
}
.searchresult_abbrpic {
    background-position: center center;
    background-repeat: no-repeat;
    border: 1px solid #D5D5D5;
    display: block;
    height: 70px;
    margin: 0 auto;
    width: 70px;
}


.htl_map_move {
    cursor: move !important;
}
.htl_map_move, .htl_map_default {
    cursor: default;
    overflow: hidden;
}






#header .box span.close {
    background: url("../pic/com_icon.png?t=201107201740") no-repeat scroll 0 -180px transparent;
    cursor: pointer;
    display: inline-block;
    height: 10px;
    margin-right: 2px;
    margin-top: 8px;
    overflow: hidden;
    width: 10px;
}
#header  .pt {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: -moz-use-text-color #C9C9C9 #C9C9C9;
    border-right: 1px solid #C9C9C9;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    left: 2px;
    position: absolute;
    top: 34px;
}
#header  .pt a {
    color: #3366CC;
    text-decoration: none;
}
#header  .pt a:hover {
    color: #FF0000;
}
#header  .links {
    padding: 5px 4px;
    top: 24px;
	left:144px;
    width:64px;
}
#header  .links ul li {
    padding-bottom: 1px;
}

#nav ul.link_en li a {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: normal;
}
#header .en {
    font-family: Arial !important;
    font-size: 11px;
}
#header  .logon input.btn_en {
    font-family: Arial,Helvetica,sans-serif;
}
#header  .links_en {
    font-size: 11px;
    left: auto;
    padding: 5px 9px;
    right: 2px;
    top: 24px;
    width: 75px;
}
#nav ul.link_en li {
    height: 39px;
    padding: 0;
}
#nav ul.link_en li.on {
    margin-left: 2px;
    margin-right: 5px;
}
#nav ul.link_en li a {
    padding: 0 9px;
}
#nav ul.link_en li.on a {
    padding: 0 6px 0 9px;
}
#nav ul.link_en li.on span.rslide {
    right: -4px;
}
.UserInfo table.n_table th {
    background: none repeat scroll 0 0 #DAEBFA;
    font-weight: bold;
    padding: 3px 2px;
}
.UserInfo table.n_table td {
    font-family: Tahoma,simsun;
    font-size: 12px;
    padding: 3px 2px;
}

#site-nav .search .menu-hd {
    color: #666666;
    padding-left: 25px;
}
#site-nav .search .menu-hd {
    width: 24px;
}
#site-nav .menu-hd {
    cursor: pointer;
    display: block;
    height: 20px;
    line-height: 17px;
    margin: 3px 1px 0;
    padding: 0 22px 0 10px;
    position: relative;
    z-index: 10002;
}
#site-nav .menu {
    position: relative;
}
#site-nav .hover .menu-hd {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 white;
    border-color: #BFBFBF #BFBFBF -moz-use-text-color;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    margin: 2px 0 0;
}


.index_box .bottomcover {position:absolute;bottom:0;background:url(../images/halftransp.png) no-repeat 0 -5px;height:35px;width:258px;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/halftransp.png',sizingMethod='crop');pointer-events:none;}




.loadarrows{
	background: url("../images/ajaxloader_arrows.gif") no-repeat scroll center center transparent;
}

/*Tips */
.boxWrap .boxLoading {
	position: absolute;
	display: block;
	width: 90px;
	height: 30px;
	line-height: 30px;
	margin-left: -45px;
	margin-top: -15px;
	left: 50%;
	top: 50%;
	color: #f00;
}
.boxWrap .boxLoading{
	width:28px;
	margin-left: -14px;
	background:url("../javascript/Tips/loading.gif") no-repeat;
	text-indent: -999em;
	text-align: center;
}
.boxWrap .boxTitle,
.boxWrap .boxTitle span,
.boxWrap .boxTitle span.hover,
.boxWrap .loadinglayer,
.boxWrap .tipslayer,
.boxWrap .arrowLeft,
.boxWrap .arrowTop,
.boxWrap .colseBtn,
.boxWrap .boxError em,
.boxWrap .dialogBtn,
.boxWrap .dialogBtn.hover{
	background-image: url("../javascript/Tips/ico.png");
	background-repeat: no-repeat;
}
.boxWrap .boxTitle {
	position: relative;
	border: 1px solid #A6C9E1;
	border-bottom: none;
	background-position: 0 0;
	background-repeat: repeat-x;
	height: 30px;
	line-height: 30px;
}
.boxWrap .boxTitle h3 {
	float: left;
	font-weight: normal;
	color: #666;
	font-size: 14px;
	margin: 0;
	text-indent: 10px;
}
.boxWrap .boxTitle span {
	position: absolute;
	width: 10px;
	background-position: -80px -40px;
	text-indent: -10em;
	right: 10px;
	top: 10px;
	height: 16px;
	overflow: hidden;
	cursor: pointer;
}
.boxWrap .boxTitle span.hover { background-position: -90px -40px; }
.boxWrap .loadinglayer{ line-height: 40px; background-position: 0 -100px!important; }
.boxWrap .tipslayer{
	line-height: 20px;
	text-align: left;
}
.boxWrap .arrowLeft{
	position: absolute;
	width: 8px;
	height: 16px;
	background-position: -20px -170px;
	text-indent: -9999em;
	z-index: 20591;
	overflow: hidden;
}
.boxWrap .arrowTop{
	position: absolute;
	width: 16px;
	height: 8px;
	background-position: -20px -170px;
	text-indent: -9999em;
	z-index: 20591;
	overflow: hidden;
}
.boxWrap .colseBtn {
	position: absolute;
	top: 7px;
	_top:8px;
	right: 7px;
	width: 12px;
	height: 12px;
	background-position: 0px -211px;
	text-indent: -9999em;
	cursor: pointer;
	z-index: 20591;
	overflow: hidden;
}
.boxWrap .colseBtn1 {
	position: absolute;
	cursor: pointer;
	z-index: 20591;
	overflow: hidden;
	 width:19px; height:19px; text-indent:-999em; background:url(http://tp1.znimg.com/v5/images/icon_close1.gif) 0 0 no-repeat; top:-3px; right:-3px;
}
.boxWrap .boxError{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -60px;
	margin-top: -15px;
	width: 120px;
	height: 30px;
	line-height: 30px;
	color: #f00;
}
.boxWrap .boxError em{
	float: left;
	width:30px;
	height: 30px;
	background-position: -35px -140px;
}
.boxWrap .dialogBtn{
	margin: 5px 5px 0 0;
	width:80px;
	height:35px;
	background-position: 0 -30px;
	border:none;
	color:#333;
}
.boxWrap .dialogBtn.hover{ background-position: 0 -65px; }
.boxWrap.shadow {
	box-shadow:2px 2px 5px #C0BBB5;
	-moz-box-shadow: 2px 2px 5px #C0BBB5;
	-webkit-box-shadow:2px 2px 5px #C0BBB5;
}





a#closeBut {
	position: absolute;
	display: block;
	top: -10px;
	right: -10px;
	width: 19px;
	height: 19px;
	text-indent: -9999em;
	background: url(../javascript/Tips/close.gif) no-repeat;
	outline: 0;
	z-index:10001;
}
h1#nyroModalTitle {
	margin: 0;
	padding: 0;
	position: absolute;
	top: -22px;
	left: 5px;
	font-size: 12px;
	color: #ddd;
}

a.nyroModalPrev, a.nyroModalNext {
	z-index: 891209;
	outline: none;
	position: absolute;
	top: 0;
	height: 100%;
	width: 40%;
	cursor: pointer;
	text-indent: -9999em;
	background: left 50% no-repeat;
	background-image: url(data:image/gif;base64,AAAA); /* Trick IE6 */
	filter: alpha(opacity=70); opacity: 0.7;
}
div.wrapperSwf a.nyroModalPrev, div.wrapperSwf a.nyroModalNext, div.wrapper a.nyroModalPrev, div.wrapper a.nyroModalNext {
	height: 60%;
	width: 20%;
}
a.nyroModalPrev {
	left: 0;
}
a.nyroModalPrev:hover {
	background-image: url(../javascript/Tips/prev.gif);
}
a.nyroModalNext {
	right: 0;
	background-position: right 50%;
}
a.nyroModalNext:hover {
	background-image: url(../javascript/Tips/next.gif);
}
.disable{color:#999;cursor:default;}